*{
    margin: 0px;
    padding: 0px;
    color: rgb(191,215,234);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#background{
    width: 950px;
    background-color: rgb(18, 53, 91);
    margin: 0px auto;
    padding: 10px;
}
#header{
    min-height: 50px;
    background-color: rgb(215, 38, 56);
    border-radius: 15px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 15px;
}
#directory{
    min-height: 185px;
    width: 170px;
    background-color: rgb(8, 126, 139);
    border-radius: 15px;
    padding: 15px;
    padding-top: 10px;
    display: inline-block;
    list-style-position: inside;
    font-size: 14px;
}
#innerlist {
    text-indent: 15px;

}
#mainsection{
    min-height: 450px;
    width: 690px;
    background-color: rgb(12,24,33);
    border-radius: 15px;
    margin-left: 25px;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    display: inline-block;
    vertical-align: top;
    list-style-position: inside;
    font-size: 12px;
}
#innercolor{
    color: rgb(114,126,255);
}
.anchorcolor{
    color: rgb(82,222,229)
}
#footer{
    min-height: 25px;
    width: 935px;
    background-color: rgb(92,102,114);
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-radius: 15px;
    font-size: 14px;
}
